body{
    background: rgb(99, 160, 230);
}

.welcome{
    font: normal 10pt monospace;
    color: white;

    transition: all 3s;

    position: relative;
    top: 200px;
    
    padding: 15px;
    margin: auto;
    text-align: center; 
}

.welcome button{
    background: black;
    font: normal 10pt monospace;
    color: white;

    transition: all 3s;

    position: relative;
    
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.welcome-transition{
    font: normal 30pt monospace;
    color: white;

    position: relative;
    top: 200px;
    
    padding: 15px;
    margin: auto;
    text-align: center;
}

