/**
*   Estilizações gerais
*/

body{
    font-family: monospace;
}

a{
    text-decoration: none;
    color: grey;

    font-style: italic;
}

div#whoIAm p#hp{
    font-size: 50pt;
    
    position: relative;
    left: 40%;

    display: inline;
}

div#myDescription p{
    position: relative;
    left: 15%;

    margin-top: 20px;
}

div p.inline{
    font: normal 15pt monospace;

    position: relative;
    
    display: inline-block;
    
    margin: 0 10px;
}

div p.inline img{
    position: relative;

    margin-top: 30px;
}

p.inline#inline2{
    left:300px;
}

ul.list{
    font: normal 20pt monospace;
}

ul.list li{
    margin: 10px;
}

div#studying{
    text-align: center;
}

div#studying h1{
    font-size: 50pt;
}

div#studying p{
    font-size: 25pt;

    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

div#studying img#javaScriptLogo{
    position: relative;
    right: 10px;
}

div#studying img#phpLogo{
    position: relative;
    right: 10px;
}

div#studying img#sqlLogo{
    position: relative;
    right: 10px;
}

<<<<<<< HEAD
/**
* Estilizações das imagens da header
*/

header{
    position: relative;
    top: 50px;
    margin: auto;
    left: 692px;
}

header div{
    display: inline-block;
    margin: 15px;
}

header img[id="imgHome"]{
    position: relative;
    right: 10px;
}

header img[id="imgHabilities"]{
    position: relative;
    left: 15px;
}

header img[id="imgExperiencies"]{
    position: relative; 
    left: 15px;
}

header img[id="imgProjects"]{
    position: relative; 
    left: 5px;
}


=======
>>>>>>> 43d9aa0f5f7220f8d214dcfd04ad5ceab615e94a
